@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import './variables.module.scss';

$primary: $primary;
$theme-colors: map-merge($theme-colors, (
  "primary": $primary
));

@import '~bootstrap/scss/bootstrap';

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .desktop-stack-horiz {
    flex-direction: row !important
  }
}

.clickable-card {
  @extend .card !optional;
  cursor: pointer;
  margin: 2px;

  &:hover {
    border: 1px solid $primary;
  }
}

.clickable-card-selected {
  border: 3px solid $primary;
  margin: 0;

  &:hover {
    border: 3px solid $primary;
  }
}

a {
  text-decoration: none;
  color: $primary;

  &:link, &:active, &:visited {
    color: $primary;
  }

  &:hover {
    color: $primaryHover;
  }
}

.hover-color *:hover {
  color: $primaryHover;
  fill: $primaryHover;
}

.pointer {
  cursor: pointer;
}

.mob-col-desk-row {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}

.disabled-look {
  color: #ddd !important;
  pointer-events: none;
}