@import '~bootstrap/scss/bootstrap';
$primary: orange;
$primaryHover: darkorange;

@media screen and (min-width: 769px) {
  .desktop-stack-horiz {
    flex-direction: row !important
  }
}

.clickable-card {
  @extend .card !optional;
  cursor: pointer;
  margin: 2px;

  &:hover {
    border: 1px solid $primary;
  }
}

.clickable-card-selected {
  border: 3px solid $primary;
  margin: 0;

  &:hover {
    border: 3px solid $primary;
  }
}

a {
  text-decoration: none;
  color: $primary;

  &:link, &:active, &:visited {
    color: $primary;
  }

  &:hover {
    color: $primaryHover;
  }
}