@import '~bootstrap/scss/bootstrap';
$primary: #ffa500;
$primaryHover: #ff8c00;
$accordion-button-active-color: green;
$accordion-border-width: 2px;
$border-color: green;

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

@media screen and (min-width: 769px) {
  .desktop-stack-horiz {
    flex-direction: row !important
  }
}

.clickable-card {
  @extend .card !optional;
  cursor: pointer;
  margin: 2px;

  &:hover {
    border: 1px solid $primary;
  }
}

.clickable-card-selected {
  border: 3px solid $primary;
  margin: 0;

  &:hover {
    border: 3px solid $primary;
  }
}

a {
  text-decoration: none;
  color: $primary;

  &:link, &:active, &:visited {
    color: $primary;
  }

  &:hover {
    color: $primaryHover;
  }
}

.vertical-column {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}

.disabled-look {
  color: #ddd !important;
  pointer-events: none;
}

.accordion {
  --bs-accordion-active-bg: transparent;
}

button.accordion-button:focus{
      box-shadow: none;
      outline: none; 
}